* {
  margin: 0;
  padding: 0;
  font-family: Comfortaa;
  background-color: #9370db;
  color: white;
}

.page-container {
  /* max-width: 500px; */
  padding: 10px;
  display: block;
  margin: 0 auto;
  padding: 23vh 10px 10px 10px;
  width: 75%;
}

.page-container > h1 {
  font-size: 8vw;
  text-align: center;
  font-family: 'Days One', sans-serif;
}

.page-container > h2 {
  font-size: 1.5vw;
  text-align: center;
}

.page-container > p {
  font-size: 1vw;
  text-align: center;
  margin: 2vh auto;
  width: 80%;
}

button {
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.1vw;
  padding: 0.8vw;
  display: block;
  margin: 3vh auto 1.5vh auto;
  width: 30%;
}

button:hover {
  border: 2px solid black;
  color: black;
}

button:active {
  border: 2px solid white;
  color: white;
}

.social-icons-container {
  display: block;
  margin: 2vh auto;
  width: 15vw;
}

.fa {
  padding: 1.45vw;
  width: 2vw;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 2vw !important;
}

.fa:hover {
  opacity: 0.7;
  color: black;
}

.fa:active {
  color: white;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .page-container > h1 {
    font-size: 16vw;
  }

  .page-container > h2 {
    font-size: 3.2vw;
  }

  .page-container > p {
    font-size: 2.8vw;
  }

  button {
    font-size: 2.7vw;
  }

  .fa {
    font-size: 5vw !important;
    margin: 0 1vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .page-container > h1 {
    font-size: 14vw;
  }

  .page-container > h2 {
    font-size: 2.4vw;
  }

  .page-container > p {
    font-size: 2.2vw;
  }

  button {
    font-size: 2.2vw;
  }

  .fa {
    font-size: 3.5vw !important;
    margin: 0 1vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .page-container > h1 {
    font-size: 12vw;
  }

  .page-container > h2 {
    font-size: 2.2vw;
  }

  .page-container > p {
    font-size: 1.8vw;
  }

  button {
    font-size: 1.8vw;
  }

  .fa {
    font-size: 3vw !important;
    margin: 0 1.5vw;
  }

  .social-icons-container {
    width: 20vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .page-container > h1 {
    font-size: 10vw;
  }

  .page-container > h2 {
    font-size: 2vw;
  }

  .page-container > p {
    font-size: 1.8vw;
  }

  button {
    font-size: 1.1vw;
  }

  .fa {
    font-size: 3vw !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .page-container > h1 {
    font-size: 9vw;
  }

  .page-container > h2 {
    font-size: 1.8vw;
  }

  .page-container > p {
    font-size: 1.4vw;
  }

  button {
    font-size: 1.3vw;
  }

  .fa {
    font-size: 2.3vw !important;
  }
}
